<body>
<!-- Page Wrapper -->
<div id="wrapper" class="d-flex">
  <!-- Sidebar -->
  <app-menu></app-menu>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column flex-grow-1">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-top-bar></app-top-bar>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">


        <!-- DataTales Example -->
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Users</h6>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Role</th>
                  <th>Created at</th>
                  <th>Updated at</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Email</th>
                  <th>Role</th>
                  <th>Created at</th>
                  <th>Updated at</th>
                  <th>Actions</th>
                </tr>
                </tfoot>
                <tbody>
                <tr>
                  <td>Tiger Nixon</td>
                  <td>System Architect</td>
                  <td>Edinburgh</td>
                  <td>61</td>
                  <td>2011/04/25</td>
                  <td>$320,800</td>
                  <td>
                      <button class="btn custom-edit-delete-btn btn-sm mb-2" [routerLink]="['/']">Edit</button>
                      <button class="btn custom-edit-delete-btn btn-sm" [routerLink]="['/']">Delete</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <button class="btn custom-addUser-btn btn-sm ml-3 mr-3" [routerLink]="['/register']">Add a New User</button>
        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->


