.custom-addUser-btn {
  background-color: #D4B3FF; /* Couleur de fond personnalisée */
  color: black; /* Couleur du texte */
  border: none; /* Supprime la bordure par défaut */
  font-size: 18px; /* Agrandit le texte du bouton */
  padding: 10px 24px;
  width: 200px;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.custom-addUser-btn:hover {
  background-color: #C190FF; /* Couleur de fond au survol */
  color: black; /* Couleur du texte au survol */
}

.custom-addUser-btn:active {
  background-color: #A259FF; /* Couleur de fond quand le bouton est cliqué */
  color: white; /* Couleur du texte */
}

.custom-edit-btn {
  background-color: #A6E7E6; /* Couleur de fond personnalisée */
  color: black; /* Couleur du texte */
  border: none; /* Supprime la bordure par défaut */
  font-size: 18px; /* Agrandit le texte du bouton */
  padding: 10px 24px;
  width: 100px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.custom-edit-btn:hover {
  background-color: #7ADBD9; /* Couleur de fond au survol */
  color: black; /* Couleur du texte au survol */
}

.custom-edit-btn:active {
  background-color:  #579B9A; /* Couleur de fond quand le bouton est cliqué */
  color: white; /* Couleur du texte */
}

.custom-delete-btn {
  background-color:   #FFCCF1; /* Couleur de fond personnalisée */
  color: black; /* Couleur du texte */
  border: none; /* Supprime la bordure par défaut */
  font-size: 18px; /* Agrandit le texte du bouton */
  padding: 10px 24px;
  width: 100px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.custom-delete-btn:hover {
  background-color: #FFB3EA; /* Couleur de fond au survol */
  color: black; /* Couleur du texte au survol */
}

.custom-delete-btn:active {
  background-color: #FF59D1; /* Couleur de fond quand le bouton est cliqué */
  color: white; /* Couleur du texte */
}

.uniform-borders th, .uniform-borders td {
  border: 1px solid #dee2e6; /* Couleur et taille de la bordure */
}

.uniform-borders {
  border-collapse: collapse; /* Assure que les bordures sont uniformes */
}

.table-bordered {
  border: 1px solid #dee2e6; /* Bordure extérieure de la table */
}

