<body>
<!-- Page Wrapper -->
<div id="wrapper" class="d-flex">
  <!-- Sidebar -->
  <app-menu></app-menu>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column flex-grow-1">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-top-bar></app-top-bar>
      <!-- End of Topbar -->



  <!-- ####################################### Main Content ################################################### -->
      <div class="container-fluid">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold color: black">Users List</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th scope="col" >First Name</th>
                  <th scope="col" >Last Name</th>
                  <th scope="col" >Email</th>
                  <th scope="col" >Role</th>
                  <th scope="col" >Created at</th>
                  <th scope="col" >Updated at</th>
                  <th scope="col" >Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of usersData">
                  <td>{{user.firstName}}</td>
                  <td>{{user.lastName}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.role || 'N/A'}}</td>
                  <td>{{user.createdAt | date: 'short'}}</td>
                  <td>{{user.updatedAt | date: 'short'}}</td>
                  <td>
                    <button class="btn custom-edit-btn btn-sm mb-2" [routerLink]="['/']">Edit</button>
                    <button class="btn custom-delete-btn btn-sm" [routerLink]="['/']">Delete</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <button class="btn custom-addUser-btn btn-sm ml-3 mr-3" [routerLink]="['register']">Add a New User</button>
        </div>
        <router-outlet></router-outlet>

      </div>

      <!-- ####################################### End of Main Content ################################################### -->



    </div>
    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
</body>







