<body class="custom-gradient-bg">

<div class="container">

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5" style="height: 633px;">
        <div class="card-body p-0">
          <div class="row">
            <div class="col-lg-6"> <!-- Espace pour l'image -->
              <img src="/assets/img/scaylab.png" alt="Logo de l'entreprise" class="company-logo" style="width: 400px; height: auto; padding: 40px;">
              <img src="/assets/img/dashboarding.png" alt="Image sous le logo" class="img-fluid image-spacing" style="width: 100%; height: auto; padding: 20px;">
            </div>
            <div class="col-lg-6"> <!-- Espace pour le formulaire -->
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                </div>
                <br>
                <form (ngSubmit)="login()" class="user">
                  <div class="form-group">
                    <input type="email" [(ngModel)]="email" class="form-control form-control-user"
                           id="exampleInputEmail" aria-describedby="emailHelp"
                           placeholder="Enter Email Address..." name="email">
                  </div>
                  <br>
                  <div class="form-group">
                    <input type="password" [(ngModel)]="password" class="form-control form-control-user"
                           id="exampleInputPassword" placeholder="Password" name="password">
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox small">
                      <br>
                      <input type="checkbox" class="custom-control-input" id="customCheck">
                      <label class="custom-control-label" for="customCheck">Remember
                        Me</label>
                    </div>
                  </div>
                  <br>
                  <button type="submit" class="btn btn-primary custom-bg btn-user btn-block">
                    Login
                  </button>
                  <br>
                  <br>
                </form>
                <br>
                <hr>


                <div class="text-center">
                  <button class="btn custom-bg-button btn-sm ml-3 mr-3" [routerLink]="['/forgot']">Forgot Password?</button>
                </div>

                <br>

                <div class="text-center">
                  <button class="btn custom-bg-button btn-sm ml-3 mr-3" [routerLink]="['/register']">Create an Account!</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

</body>
