<body>
<!-- Page Wrapper -->
<div id="wrapper" class="d-flex">
  <!-- Sidebar -->
  <app-menu></app-menu>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column flex-grow-1">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-top-bar></app-top-bar>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <h1>General Dashboard</h1>
      </div>
      <!-- End of Page Content -->
    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <app-footer></app-footer>
    <!-- End of Footer -->
  </div>
  <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->
</body>
