.custom-disconnect-btn {
  background-color: #DBDFFF; /* Couleur de fond personnalisée */
  color: black; /* Couleur du texte */
  border: none; /* Supprime la bordure par défaut */
  font-size: 18px; /* Agrandit le texte du bouton */
  padding: 10px 24px;
}

.custom-disconnect-btn:hover {
  background-color: #CCD1FF; /* Couleur de fond au survol */
  color: black; /* Couleur du texte au survol */
}

.custom-disconnect-btn:active {
  background-color: #596AFF; /* Couleur de fond quand le bouton est cliqué */
  color: white; /* Couleur du texte */
}


